body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
  }

/* body:hover{
  animation: rainbowFlash 2s linear infinite;
} */
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  #backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Behind all content */
    display: block;
  }
  
  

  /* ===== Temp location for: Character css ===== */
  .character-select-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  
  .premade-characters {
    width: 28%;
  }
  .custom-character {
    width: 48%;
  }
 
  .character-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  .character-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .character-option img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
 

  
  /* Selected effect (stays after click) */
  /* .character-option.selected img {
    transform: scale(2.1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.9);
    outline: 2px solid white;
  } */
  
  .continue-button-wrapper {
    display: flex;
    justify-content: center;
    /* margin: 2rem 0; */
  }