body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
  }

/* body:hover{
  animation: rainbowFlash 2s linear infinite;
} */
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  #backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Behind all content */
    display: block;
  }
  
  